@inherits ComponentBase<FetchDataViewModel>
@page "/fetchdata"

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Temp. (C)</th>
            <th>Temp. (F)</th>
            <th>Summary</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var forecast in ViewModel.Forecasts)
        {
            <tr>
                <td>@forecast.Date.ToShortDateString()</td>
                <td>@(forecast.TemperatureC) °C</td>
                <td>@($"{forecast.TemperatureF:F2} °F")</td>
                <td>@forecast.Summary</td>
            </tr>
        }
    </tbody>
</table>

@code {

}
